
/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css?family=Play");


body{
	margin: 0 auto;

}

#red{
	background: red;
}

.outer-layer{
	background-color: #D8D8D8FF;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 50px;
	border: 3px solid black;
	width: 45%;
	height: 67vh;
	box-shadow: 1px 4px 4px grey;
}

@media (max-width: 800px){
	.outer-layer{
		background-color: #D8D8D8FF;
		display: flex;
		flex-direction: column;
		margin: auto;
		margin-top: 50px;
		border: 3px solid black;
		width: 45%;
		height: 87vh;
		box-shadow: 1px 4px 4px grey;
	}
	.dim-lay{
		display: none;
	}
}

.dim-lay{
	border: 2px solid black;
	width: 45%;
	position: absolute;
	top: 69%;
	left: 27.3%;
}


/* ========== TOP ========== */
.top{
	height: 20vh;
	display: flex;
	flex-direction: row;
}

.left-section{
	height: 20vh;
	width: 50%;
	display: flex;
	flex-direction: column;
}


.top-left{
	display: flex;
	flex-direction: row;
}

.top-bottom-left{
	display: flex;
	flex-direction: row;
}

.screen{
	border: 1px solid black;
	width: 60%;
	height: 10vh;
	background: #545454FF;
	position: relative;
	left: 25%;
	top: 13%;
}

.inner-screen{
	border: 1px solid black;
	width: 75%;
	height: 5vh;
	margin: auto;
	margin-top: 10px;
	background: #003F21FF;
}

.inner-screen > p{
	color: green;
	text-align: center;
	position: relative;
	font-size: 10px;
}

.knob{
	border: 1px solid black;
	border-radius: 50%;
	width: 10%;
	height: 3vh;
	background: tan;
	margin: 10px 0px 0px 15px;
	position: relative;
	right: 61%;
}


.inner-knob{
	border: 1px solid;
	width: 1px;
	height: 1vh;
	margin: auto;
}

.knob2{
	border: 1px solid black;
	border-radius: 50%;
	width: 10%;
	height: 3vh;
	background: tan;
	margin: 10px 0px 0px 15px;
	position: relative;
	right: 77%;
	top: 56%;
}

@media (max-width:900px){
	.knob2{
		border: 1px solid black;
		border-radius: 50%;
		width: 10%;
		height: 3vh;
		background: tan;
		margin: 10px 0px 0px 15px;
		position: relative;
		right: 80%;
		top: 56%;
	}
}


.inner-knob2{
	border: 1px solid;
	width: 1px;
	height: 1vh;
	margin: auto;
}

.random-btns{
	position: relative;
	top: 85%;
	left: 27%;
}

.random-btns > div{
	width: 15px;
	height: 5px;
	background: tan;
	display: inline-block;
	margin-left: 5px;
	border: 1px solid;
}

.right-section{
	height: 20vh;
	width: 50%;
	margin-left: auto;
}

#vent{
	text-align: center;
}

#vent > div{
	width: 15%;
	border: 1px solid black;
	display: inline-block;
	vertical-align: middle;
}

.mpc-logo{
	position: relative;
	bottom: 17%;
}

.mpc-logo > p{
	text-align: center;
	font-family: 'Play', sans-serif;
	font-size: 26px;
}

#mpc{
	color: grey;
	text-decoration: underline;
	text-decoration-color: grey;
}

#mpc2000{
	text-decoration-line: underline;
	text-decoration-color: red;
}

	/* ======== MEDIA TOP ======== */
@media (max-width:800px){
	.top{
		border: 1px solid black;
		height: 35vh;
		display: flex;
		flex-direction: column;
	}
	.left-section{
		border: 1px solid black;
		height: 30vh;
		width: 100%;
	}

	.random-btns{
		display: none;
	}

	.random-btns > div{
		display: none;
	}

	.right-section{
		border: 1px solid black;
		height: 19vh;
		width: 100%;
	}
}
	/* ======== END MEDIA TOP ======== */
/* ========== END TOP ========== */

/* ========== BOTTOM ========== */
.bottom{
	display: flex;
	flex-direction: row;
}

.bottom-left{
	height: 50vh;
	width: 50%;
}

@media (max-width:800px){
	.bottom-left{
		display: none;
	}
}

.pads-background{
	position: relative;
	width: 50%;
	height: 40vh;
	background: grey;

}

.group-btns{
	position: relative;
}

.group-btns > div{
	display: inline-block;
	width: 10%;
	height: 1vh;
	background: grey;
	border: 1px solid;
	margin-left: 10px;
}

.group-btns > div:active{
	opacity: 0.8;
}

.group-btns > div:nth-child(-n+3) > p{
	position: absolute;
	top: -10px;
	font-size: 7px;
	margin-left: 10px;
}

.group-btns > div:nth-child(n+4):nth-child(-n+7) > p{
	position: absolute;
	top: 10px;
	font-size: 7px;
	margin-left: 10px;
}

.group-btns > div:nth-child(n+8):nth-child(-n+11) > p{
	position: absolute;
	top: 30px;
	font-size: 7px;
	margin-left: 10px;
}


.group-btns > div:nth-child(n+12):nth-child(-n+15) > p{
	position: absolute;
	top: 50px;
	font-size: 7px;
	margin-left: 10px;
}


#note-font{
	font-size: 7px;
	text-align: center;

}

.circle-knob{
	
}

.inner-circle{
	
}

.random-btn{
	width: 50%;
	height: 1.4vh;
	background: tan;
	margin: auto;
	margin-top: auto;
	border: 1px solid;
	margin-top: 4px;
}

.volume-lever{
	border: 1px solid black;
	height: 20vh;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 5%;
	left: 2%;
	width: 20%;
}

.inner-lever{
	border: 2px solid black;
	height: 10vh;
	width: 1px;
	margin:auto;
	margin-bottom: 10px;
}

.btn-lever{
	border: 1px solid black;
	width: 20px;
	height: 15px;
	margin: auto;
	position: relative;
	top: 10px;
	right: 11px;
	background: tan;
}

.record-btns{
	display: flex;
	flex-direction: row;
	position: relative;
	left: 24%;
	bottom: 9%;
}

.record-btns > div{
	border: 1px solid;
	height: 4vh;
	width: 15%;
	background: grey;
	margin-left: 5px;
}

.record-btns > div:active{
	opacity: 0.8;
}

.record-btns > div:nth-child(-n+2) > p{
	left: 20%;
}

.record-btns > div:nth-child(1) > p{
	left: 30%;
}

.record-btns > div:nth-child(n+3):nth-child(-n+4) > p{
	left: 30%;
}

.record-btns p{
	font-size: 6px;
	position: relative;
	bottom: 70%;
	left: 10%;
}

.step-btns{
	display: flex;
	flex-direction: row;
	position: relative;
	left: 22%;
	bottom: 16%;
}

.step-btns > div{
	width: 7%;
	border: 1px solid;
	height: 1.1vh;
	background: tan;
	margin-left: 10px;
}

.step-btns > div:active{
	opacity: 0.8;
}

.step-btns > div:nth-child(1) > p{
	font-size: 6px;
	position: absolute;
	bottom: 57%;
	margin-left: 15px;
}

.step-btns > div:nth-child(2) > p{
	font-size: 6px;
	position: absolute;
	bottom: 57%;
	margin-left: 30px;
}

.step-btns > div:nth-child(3) > p{
	font-size: 6px;
	position: absolute;
	bottom: 57%;
	margin-left: 50px;
}

.seq-btns{
	display: flex;
	flex-direction: row;
	position: relative;
	left: 22%;
	bottom: 22%;
}

.seq-btns > div{
	width: 7%;
	border: 1px solid;
	height: 1.1vh;
	background: tan;
	margin-left: 10px;
}

.seq-btns > div:active{
	opacity: 0.8;
}

.seq-btns > div > p{
	position: absolute;
	font-size: 7px;
	bottom: 50%;
}

.tempo-btn{
	position: relative;
	background: tan;
	height: 2vh;
	width: 10%;
	border: 1px solid;
	left: 28%;
	bottom: 48%;
}

.tempo-btn:active{
	opacity: 0.8;
}

.tempo-btn > p{
	position: absolute;
	font-size: 7px;
	bottom: 80%;
}

.bottom-right{
	height: 37vh;
	width: 49%;
	background: #757575FF;
}

	/* === PADS === */
.pads{
	margin: 5px 0px 10px 38px;
}

.pads > div{
	width: 25%;
	height: 10vh;
	display: inline-block;
	border: 2px solid black;
	text-align: center;
}

.pads > div:active{
	background: black;
	opacity: 0.4;
}
	/* === END PADS === */

	/* ======== MEDIA BOTTOM ======== */
@media (max-width:800px){
	.bottom{
		display: flex;
		flex-direction: column;
	}
	.bottom-left{
		border: 1px solid black;
		height: 50vh;
		width: 100%;
	}
	.bottom-right{
		border: 1px solid black;
		height: 40vh;
		width: 100%;
	}
}
	/* ======== END MEDIA BOTTOM ======== */	

/* ========== END BOTTOM ========== */